section.gallery-staging
  .thumbnails
    a(href="/assets/images/11441 Allerton Park Unit 409/Interior/20 Bath.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 1")
      img(src="/assets/images/11441 Allerton Park Unit 409/Interior/20 Bath.JPG").thumbnail
    a(href="/assets/images/11441 Allerton Park Unit 409/Interior/IMG_1768.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/11441 Allerton Park Unit 409/Interior/IMG_1768.JPG").thumbnail
    a(href="/assets/images/11441 Allerton Park Unit 409/Interior/IMG_1769.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/11441 Allerton Park Unit 409/Interior/IMG_1769.JPG").thumbnail
    a(href="/assets/images/11441 Allerton Park Unit 409/Interior/IMG_1770.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/11441 Allerton Park Unit 409/Interior/IMG_1770.JPG").thumbnail
    a(href="/assets/images/11441 Allerton Park Unit 409/Interior/IMG_1771.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/11441 Allerton Park Unit 409/Interior/IMG_1771.JPG").thumbnail
    a(href="/assets/images/11441 Allerton Park Unit 409/Interior/IMG_1772.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/11441 Allerton Park Unit 409/Interior/IMG_1772.JPG").thumbnail
    a(href="/assets/images/11441 Allerton Park Unit 409/Interior/IMG_1773.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/11441 Allerton Park Unit 409/Interior/IMG_1773.JPG").thumbnail
    a(href="/assets/images/11441 Allerton Park Unit 409/Interior/IMG_1774.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/11441 Allerton Park Unit 409/Interior/IMG_1774.JPG").thumbnail
    a(href="/assets/images/11441 Allerton Park Unit 409/Interior/IMG_1776.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/11441 Allerton Park Unit 409/Interior/IMG_1776.JPG").thumbnail
    a(href="/assets/images/11441 Allerton Park Unit 409/Interior/IMG_1777.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/11441 Allerton Park Unit 409/Interior/IMG_1777.JPG").thumbnail
    a(href="/assets/images/11441 Allerton Park Unit 409/Interior/IMG_1778.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/11441 Allerton Park Unit 409/Interior/IMG_1778.JPG").thumbnail
    a(href="/assets/images/11441 Allerton Park Unit 409/Interior/IMG_1780.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/11441 Allerton Park Unit 409/Interior/IMG_1780.JPG").thumbnail
    a(href="/assets/images/11441 Allerton Park Unit 409/Interior/IMG_1781.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/11441 Allerton Park Unit 409/Interior/IMG_1781.JPG").thumbnail
    a(href="/assets/images/11441 Allerton Park Unit 409/Interior/IMG_1782.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/11441 Allerton Park Unit 409/Interior/IMG_1782.JPG").thumbnail
    a(href="/assets/images/11441 Allerton Park Unit 409/Interior/IMG_1783.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/11441 Allerton Park Unit 409/Interior/IMG_1783.JPG").thumbnail
    a(href="/assets/images/11441 Allerton Park Unit 409/Interior/IMG_1785.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/11441 Allerton Park Unit 409/Interior/IMG_1785.JPG").thumbnail
    a(href="/assets/images/11441 Allerton Park Unit 409/Interior/IMG_1788.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/11441 Allerton Park Unit 409/Interior/IMG_1788.JPG").thumbnail
    a(href="/assets/images/11441 Allerton Park Unit 409/Interior/IMG_1789.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/11441 Allerton Park Unit 409/Interior/IMG_1789.JPG").thumbnail
    a(href="/assets/images/11441 Allerton Park Unit 409/Interior/IMG_1790.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/11441 Allerton Park Unit 409/Interior/IMG_1790.JPG").thumbnail
    a(href="/assets/images/11441 Allerton Park Unit 409/Interior/IMG_1792.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/11441 Allerton Park Unit 409/Interior/IMG_1792.JPG").thumbnail
    a(href="/assets/images/11441 Allerton Park Unit 409/Interior/IMG_1793.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/11441 Allerton Park Unit 409/Interior/IMG_1793.JPG").thumbnail
