section.gallery-staging
  .thumbnails
    a(href="/assets/images/1562 Ravanusa Dr/Interior pictures/IMG_9914.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 1")
      img(src="/assets/images/1562 Ravanusa Dr/Interior pictures/IMG_9914.JPG").thumbnail
    a(href="/assets/images/1562 Ravanusa Dr/Interior pictures/IMG_9915.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/1562 Ravanusa Dr/Interior pictures/IMG_9915.JPG").thumbnail
    a(href="/assets/images/1562 Ravanusa Dr/Interior pictures/IMG_9916.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Living Room 1")
      img(src="/assets/images/1562 Ravanusa Dr/Interior pictures/IMG_9916.JPG").thumbnail
    a(href="/assets/images/1562 Ravanusa Dr/Interior pictures/IMG_9917.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 2")
      img(src="/assets/images/1562 Ravanusa Dr/Interior pictures/IMG_9917.JPG").thumbnail
    a(href="/assets/images/1562 Ravanusa Dr/Interior pictures/IMG_9918.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 1")
      img(src="/assets/images/1562 Ravanusa Dr/Interior pictures/IMG_9918.JPG").thumbnail
    a(href="/assets/images/1562 Ravanusa Dr/Interior pictures/IMG_9920.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 1")
      img(src="/assets/images/1562 Ravanusa Dr/Interior pictures/IMG_9920.JPG").thumbnail
    a(href="/assets/images/1562 Ravanusa Dr/Interior pictures/IMG_9922.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 1")
      img(src="/assets/images/1562 Ravanusa Dr/Interior pictures/IMG_9922.JPG").thumbnail
    a(href="/assets/images/1562 Ravanusa Dr/Interior pictures/IMG_9924.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/1562 Ravanusa Dr/Interior pictures/IMG_9924.JPG").thumbnail
    a(href="/assets/images/1562 Ravanusa Dr/Interior pictures/IMG_9925.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Living Room 1")
      img(src="/assets/images/1562 Ravanusa Dr/Interior pictures/IMG_9925.JPG").thumbnail
    a(href="/assets/images/1562 Ravanusa Dr/Interior pictures/IMG_9926.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 2")
      img(src="/assets/images/1562 Ravanusa Dr/Interior pictures/IMG_9926.JPG").thumbnail
    a(href="/assets/images/1562 Ravanusa Dr/Interior pictures/IMG_9929.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 1")
      img(src="/assets/images/1562 Ravanusa Dr/Interior pictures/IMG_9929.JPG").thumbnail
    a(href="/assets/images/1562 Ravanusa Dr/Interior pictures/IMG_9930.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 1")
      img(src="/assets/images/1562 Ravanusa Dr/Interior pictures/IMG_9930.JPG").thumbnail
    a(href="/assets/images/1562 Ravanusa Dr/Interior pictures/IMG_9931.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 1")
      img(src="/assets/images/1562 Ravanusa Dr/Interior pictures/IMG_9931.JPG").thumbnail
    a(href="/assets/images/1562 Ravanusa Dr/Interior pictures/IMG_9932.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 1")
      img(src="/assets/images/1562 Ravanusa Dr/Interior pictures/IMG_9932.JPG").thumbnail
