section.gallery-staging
  .thumbnails
    a(href="/assets/images/1930 Terra Vista Way/004-1-LivingRoom.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 1")
      img(src="/assets/images/1930 Terra Vista Way/004-1-LivingRoom.jpg").thumbnail
    a(href="/assets/images/1930 Terra Vista Way/005-7-LivingRoom.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/1930 Terra Vista Way/005-7-LivingRoom.jpg").thumbnail
    a(href="/assets/images/1930 Terra Vista Way/006-5-LivingRoom.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/1930 Terra Vista Way/006-5-LivingRoom.jpg").thumbnail
    a(href="/assets/images/1930 Terra Vista Way/007-4-DiningRoom.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/1930 Terra Vista Way/007-4-DiningRoom.jpg").thumbnail
    a(href="/assets/images/1930 Terra Vista Way/008-12-Kitchen.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/1930 Terra Vista Way/008-12-Kitchen.jpg").thumbnail
    a(href="/assets/images/1930 Terra Vista Way/009-14-Kitchen.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/1930 Terra Vista Way/009-14-Kitchen.jpg").thumbnail
    a(href="/assets/images/1930 Terra Vista Way/010-25-Kitchen.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/1930 Terra Vista Way/010-25-Kitchen.jpg").thumbnail
    a(href="/assets/images/1930 Terra Vista Way/011-24-KitchenDetail.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/1930 Terra Vista Way/011-24-KitchenDetail.jpg").thumbnail
    a(href="/assets/images/1930 Terra Vista Way/012-10-PowderRoom.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/1930 Terra Vista Way/012-10-PowderRoom.jpg").thumbnail
    a(href="/assets/images/1930 Terra Vista Way/013-33-MasterBedroom.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/1930 Terra Vista Way/013-33-MasterBedroom.jpg").thumbnail
    a(href="/assets/images/1930 Terra Vista Way/014-11-MasterBedroom.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 1")
      img(src="/assets/images/1930 Terra Vista Way/014-11-MasterBedroom.jpg").thumbnail
    a(href="/assets/images/1930 Terra Vista Way/015-20-Detail.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/1930 Terra Vista Way/015-20-Detail.jpg").thumbnail
    a(href="/assets/images/1930 Terra Vista Way/016-6-MasterBathroom.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/1930 Terra Vista Way/016-6-MasterBathroom.jpg").thumbnail
    a(href="/assets/images/1930 Terra Vista Way/017-8-MasterBathroom.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/1930 Terra Vista Way/017-8-MasterBathroom.jpg").thumbnail
    a(href="/assets/images/1930 Terra Vista Way/018-18-Bedroom.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/1930 Terra Vista Way/018-18-Bedroom.jpg").thumbnail
    a(href="/assets/images/1930 Terra Vista Way/019-16-Bedroom.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/1930 Terra Vista Way/019-16-Bedroom.jpg").thumbnail
    a(href="/assets/images/1930 Terra Vista Way/020-9-Bedroom.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/1930 Terra Vista Way/020-9-Bedroom.jpg").thumbnail
    a(href="/assets/images/1930 Terra Vista Way/021-22-Bathroom.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/1930 Terra Vista Way/021-22-Bathroom.jpg").thumbnail
    a(href="/assets/images/1930 Terra Vista Way/022-17-Bathroom.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/1930 Terra Vista Way/022-17-Bathroom.jpg").thumbnail
    a(href="/assets/images/1930 Terra Vista Way/023-15-AllSeasonsRoom.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/1930 Terra Vista Way/023-15-AllSeasonsRoom.jpg").thumbnail
    a(href="/assets/images/1930 Terra Vista Way/024-19-AllSeasonsRoom.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 1")
      img(src="/assets/images/1930 Terra Vista Way/024-19-AllSeasonsRoom.jpg").thumbnail
    a(href="/assets/images/1930 Terra Vista Way/025-21-AllSeasonsRoom.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/1930 Terra Vista Way/025-21-AllSeasonsRoom.jpg").thumbnail
    a(href="/assets/images/1930 Terra Vista Way/026-31-GuestHouseLivingRoom.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/1930 Terra Vista Way/026-31-GuestHouseLivingRoom.jpg").thumbnail
    a(href="/assets/images/1930 Terra Vista Way/027-28-GuestHouseLivingRoom.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/1930 Terra Vista Way/027-28-GuestHouseLivingRoom.jpg").thumbnail
    a(href="/assets/images/1930 Terra Vista Way/028-32-GuestHouseKitchen.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/1930 Terra Vista Way/028-32-GuestHouseKitchen.jpg").thumbnail
    a(href="/assets/images/1930 Terra Vista Way/029-26-GuestHouseBathroom.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/1930 Terra Vista Way/029-26-GuestHouseBathroom.jpg").thumbnail
    a(href="/assets/images/1930 Terra Vista Way/030-29-GuestHousePatio.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/1930 Terra Vista Way/030-29-GuestHousePatio.jpg").thumbnail
    a(href="/assets/images/1930 Terra Vista Way/031-23-GuestHouseExteriorPool.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/1930 Terra Vista Way/031-23-GuestHouseExteriorPool.jpg").thumbnail
    a(href="/assets/images/1930 Terra Vista Way/032-30-GuestHouseBackYard.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/1930 Terra Vista Way/032-30-GuestHouseBackYard.jpg").thumbnail
    a(href="/assets/images/1930 Terra Vista Way/033-27-GuestHouseExteriorRear.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/1930 Terra Vista Way/033-27-GuestHouseExteriorRear.jpg").thumbnail
      
      
