section.gallery-staging
  .thumbnails
    a(href="/assets/images/268 Single Petal/Interior pictures/2.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 1")
      img(src="/assets/images/268 Single Petal/Interior pictures/2.jpg").thumbnail
    a(href="/assets/images/268 Single Petal/Interior pictures/5.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/268 Single Petal/Interior pictures/5.jpg").thumbnail
    a(href="/assets/images/268 Single Petal/Interior pictures/6.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/268 Single Petal/Interior pictures/6.jpg").thumbnail
    a(href="/assets/images/268 Single Petal/Interior pictures/8.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/268 Single Petal/Interior pictures/8.jpg").thumbnail
    a(href="/assets/images/268 Single Petal/Interior pictures/13.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/268 Single Petal/Interior pictures/13.jpg").thumbnail
    a(href="/assets/images/268 Single Petal/Interior pictures/17.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/268 Single Petal/Interior pictures/17.jpg").thumbnail
    a(href="/assets/images/268 Single Petal/Interior pictures/19.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/268 Single Petal/Interior pictures/19.jpg").thumbnail
    a(href="/assets/images/268 Single Petal/Interior pictures/20.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/268 Single Petal/Interior pictures/20.jpg").thumbnail
    a(href="/assets/images/268 Single Petal/Interior pictures/26.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/268 Single Petal/Interior pictures/26.jpg").thumbnail
    a(href="/assets/images/268 Single Petal/Interior pictures/27.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/268 Single Petal/Interior pictures/27.jpg").thumbnail
