section.gallery-staging
  .thumbnails
    - var n = 0;
    while n <= 29
      - var t = n++ + ".jpeg";
      a(href="/assets/images/gallery/" + t data-lightbox="Gallery" data-title=n)
        img(src="/assets/images/gallery/" + t).thumbnail
