section.gallery-staging
  .thumbnails
    a(href="/assets/images/31 Fantasia/003-2-Living Room.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 1")
      img(src="/assets/images/31 Fantasia/003-2-Living Room.jpg").thumbnail
    a(href="/assets/images/31 Fantasia/004-12-Living Room.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/31 Fantasia/004-12-Living Room.jpg").thumbnail
    a(href="/assets/images/31 Fantasia/005-14-Living Room.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/31 Fantasia/005-14-Living Room.jpg").thumbnail
    a(href="/assets/images/31 Fantasia/006-6-Living Room.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/31 Fantasia/006-6-Living Room.jpg").thumbnail
    a(href="/assets/images/31 Fantasia/007-17-Dining Room.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/31 Fantasia/007-17-Dining Room.jpg").thumbnail
    a(href="/assets/images/31 Fantasia/008-7-Dining Room.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/31 Fantasia/008-7-Dining Room.jpg").thumbnail
    a(href="/assets/images/31 Fantasia/009-4-Dining Room.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/31 Fantasia/009-4-Dining Room.jpg").thumbnail
    a(href="/assets/images/31 Fantasia/010-5-Kitchen.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/31 Fantasia/010-5-Kitchen.jpg").thumbnail
    a(href="/assets/images/31 Fantasia/011-10-Kitchen.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/31 Fantasia/011-10-Kitchen.jpg").thumbnail
    a(href="/assets/images/31 Fantasia/012-9-Kitchen.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/31 Fantasia/012-9-Kitchen.jpg").thumbnail
    a(href="/assets/images/31 Fantasia/013-8-Kitchen.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 1")
      img(src="/assets/images/31 Fantasia/013-8-Kitchen.jpg").thumbnail
    a(href="/assets/images/31 Fantasia/014-30-Kitchen.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/31 Fantasia/014-30-Kitchen.jpg").thumbnail
    a(href="/assets/images/31 Fantasia/015-13-Breakfast Area.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/31 Fantasia/015-13-Breakfast Area.jpg").thumbnail
    a(href="/assets/images/31 Fantasia/016-23-Family Room.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/31 Fantasia/016-23-Family Room.jpg").thumbnail
    a(href="/assets/images/31 Fantasia/017-19-Family Room.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/31 Fantasia/017-19-Family Room.jpg").thumbnail
    a(href="/assets/images/31 Fantasia/018-20-Family Room.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/31 Fantasia/018-20-Family Room.jpg").thumbnail
    a(href="/assets/images/31 Fantasia/019-25-Family Room.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/31 Fantasia/019-25-Family Room.jpg").thumbnail
    a(href="/assets/images/31 Fantasia/020-18-2nd Floor Master Bedroom.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/31 Fantasia/020-18-2nd Floor Master Bedroom.jpg").thumbnail
    a(href="/assets/images/31 Fantasia/021-21-2nd Floor Master Bedroom.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/31 Fantasia/021-21-2nd Floor Master Bedroom.jpg").thumbnail
    a(href="/assets/images/31 Fantasia/022-28-2nd Floor Master Bathroom.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/31 Fantasia/022-28-2nd Floor Master Bathroom.jpg").thumbnail
    a(href="/assets/images/31 Fantasia/023-22-2nd Floor Master Bathroom.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 1")
      img(src="/assets/images/31 Fantasia/023-22-2nd Floor Master Bathroom.jpg").thumbnail
    a(href="/assets/images/31 Fantasia/024-29-2nd Floor Bedroom.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/31 Fantasia/024-29-2nd Floor Bedroom.jpg").thumbnail
    a(href="/assets/images/31 Fantasia/025-26-2nd Floor Bedroom.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/31 Fantasia/025-26-2nd Floor Bedroom.jpg").thumbnail
    a(href="/assets/images/31 Fantasia/026-15-2nd Floor Bathroom.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/31 Fantasia/026-15-2nd Floor Bathroom.jpg").thumbnail
    a(href="/assets/images/31 Fantasia/027-24-Back Yard.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/31 Fantasia/027-24-Back Yard.jpg").thumbnail
    a(href="/assets/images/31 Fantasia/028-16-Back Yard.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/31 Fantasia/028-16-Back Yard.jpg").thumbnail
