section.gallery-staging
  .social
    .fb-share-button(data-href="http://www.ezhomestaging.com/4848-Nara-Vista.html" data-layout="button_count" data-size="large")
    .fb-like(data-href="https://www.facebook.com/ezhomestaging/" data-layout="button_count" data-action="like" data-show-faces="false" data-size="large")
  .thumbnails
    a(href="/assets/images/4848 Nara Vista/Interior Pictures/005-2-Living Room.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 1")
      img(src="/assets/images/4848 Nara Vista/Interior Pictures/005-2-Living Room.jpg").thumbnail
    a(href="/assets/images/4848 Nara Vista/Interior Pictures/006-7-Living Room.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/4848 Nara Vista/Interior Pictures/006-7-Living Room.jpg").thumbnail
    a(href="/assets/images/4848 Nara Vista/Interior Pictures/007-8-Living Room.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/4848 Nara Vista/Interior Pictures/007-8-Living Room.jpg").thumbnail
    a(href="/assets/images/4848 Nara Vista/Interior Pictures/008-9-Dining Room.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/4848 Nara Vista/Interior Pictures/008-9-Dining Room.jpg").thumbnail
    a(href="/assets/images/4848 Nara Vista/Interior Pictures/009-6-Dining Room.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/4848 Nara Vista/Interior Pictures/009-6-Dining Room.jpg").thumbnail
    a(href="/assets/images/4848 Nara Vista/Interior Pictures/010-5-Dining Room.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/4848 Nara Vista/Interior Pictures/010-5-Dining Room.jpg").thumbnail
      
    a(href="/assets/images/4848 Nara Vista/Interior Pictures/011-19-Kitchen.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/4848 Nara Vista/Interior Pictures/011-19-Kitchen.jpg").thumbnail
    a(href="/assets/images/4848 Nara Vista/Interior Pictures/012-10-Kitchen.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/4848 Nara Vista/Interior Pictures/012-10-Kitchen.jpg").thumbnail
    a(href="/assets/images/4848 Nara Vista/Interior Pictures/013-13-Kitchen.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/4848 Nara Vista/Interior Pictures/013-13-Kitchen.jpg").thumbnail
    a(href="/assets/images/4848 Nara Vista/Interior Pictures/014-11-Kitchen.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/4848 Nara Vista/Interior Pictures/014-11-Kitchen.jpg").thumbnail

    a(href="/assets/images/4848 Nara Vista/Interior Pictures/015-18-Master Bedroom.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/4848 Nara Vista/Interior Pictures/015-18-Master Bedroom.jpg").thumbnail
    a(href="/assets/images/4848 Nara Vista/Interior Pictures/016-15-Master Bedroom.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/4848 Nara Vista/Interior Pictures/016-15-Master Bedroom.jpg").thumbnail
    a(href="/assets/images/4848 Nara Vista/Interior Pictures/017-14-Master Bathroom.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/4848 Nara Vista/Interior Pictures/017-14-Master Bathroom.jpg").thumbnail
    a(href="/assets/images/4848 Nara Vista/Interior Pictures/018-21-Master Bathroom.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/4848 Nara Vista/Interior Pictures/018-21-Master Bathroom.jpg").thumbnail
    a(href="/assets/images/4848 Nara Vista/Interior Pictures/019-16-Master Bathroom.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/4848 Nara Vista/Interior Pictures/019-16-Master Bathroom.jpg").thumbnail
    a(href="/assets/images/4848 Nara Vista/Interior Pictures/020-23-Master Bedroom Closet.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/4848 Nara Vista/Interior Pictures/020-23-Master Bedroom Closet.jpg").thumbnail
      
    a(href="/assets/images/4848 Nara Vista/Interior Pictures/021-24-Bedroom.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/4848 Nara Vista/Interior Pictures/021-24-Bedroom.jpg").thumbnail
    a(href="/assets/images/4848 Nara Vista/Interior Pictures/022-12-Bedroom.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/4848 Nara Vista/Interior Pictures/022-12-Bedroom.jpg").thumbnail
    a(href="/assets/images/4848 Nara Vista/Interior Pictures/023-25-Bedroom.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/4848 Nara Vista/Interior Pictures/023-25-Bedroom.jpg").thumbnail
    a(href="/assets/images/4848 Nara Vista/Interior Pictures/024-22-Bathroom.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/4848 Nara Vista/Interior Pictures/024-22-Bathroom.jpg").thumbnail
    a(href="/assets/images/4848 Nara Vista/Interior Pictures/025-17-Bathroom.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/4848 Nara Vista/Interior Pictures/025-17-Bathroom.jpg").thumbnail
      
    a(href="/assets/images/4848 Nara Vista/Interior Pictures/026-28-Hallway.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/4848 Nara Vista/Interior Pictures/026-28-Hallway.jpg").thumbnail
      
    a(href="/assets/images/4848 Nara Vista/Interior Pictures/027-26-Balcony.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/4848 Nara Vista/Interior Pictures/027-26-Balcony.jpg").thumbnail
    a(href="/assets/images/4848 Nara Vista/Interior Pictures/028-27-Balcony.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/4848 Nara Vista/Interior Pictures/028-27-Balcony.jpg").thumbnail
