section.gallery-staging
  .thumbnails
    a(href="/assets/images/8220 Emerald Isle Light/Interior pictures/IMG_2436.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 1")
      img(src="/assets/images/8220 Emerald Isle Light/Interior pictures/IMG_2436.jpg").thumbnail
    a(href="/assets/images/8220 Emerald Isle Light/Interior pictures/IMG_2439.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/8220 Emerald Isle Light/Interior pictures/IMG_2439.jpg").thumbnail
    a(href="/assets/images/8220 Emerald Isle Light/Interior pictures/IMG_2440.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Living Room 1")
      img(src="/assets/images/8220 Emerald Isle Light/Interior pictures/IMG_2440.jpg").thumbnail
    a(href="/assets/images/8220 Emerald Isle Light/Interior pictures/IMG_2441.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 2")
      img(src="/assets/images/8220 Emerald Isle Light/Interior pictures/IMG_2441.jpg").thumbnail
    a(href="/assets/images/8220 Emerald Isle Light/Interior pictures/IMG_2446.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 1")
      img(src="/assets/images/8220 Emerald Isle Light/Interior pictures/IMG_2446.jpg").thumbnail
    a(href="/assets/images/8220 Emerald Isle Light/Interior pictures/IMG_2447.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 1")
      img(src="/assets/images/8220 Emerald Isle Light/Interior pictures/IMG_2447.jpg").thumbnail
    a(href="/assets/images/8220 Emerald Isle Light/Interior pictures/IMG_2448.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 1")
      img(src="/assets/images/8220 Emerald Isle Light/Interior pictures/IMG_2448.jpg").thumbnail
    a(href="/assets/images/8220 Emerald Isle Light/Interior pictures/IMG_2457.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/8220 Emerald Isle Light/Interior pictures/IMG_2457.jpg").thumbnail
    a(href="/assets/images/8220 Emerald Isle Light/Interior pictures/IMG_2461.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Living Room 1")
      img(src="/assets/images/8220 Emerald Isle Light/Interior pictures/IMG_2461.jpg").thumbnail
    a(href="/assets/images/8220 Emerald Isle Light/Interior pictures/IMG_2470.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 2")
      img(src="/assets/images/8220 Emerald Isle Light/Interior pictures/IMG_2470.jpg").thumbnail
    a(href="/assets/images/8220 Emerald Isle Light/Interior pictures/IMG_2472.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 1")
      img(src="/assets/images/8220 Emerald Isle Light/Interior pictures/IMG_2472.jpg").thumbnail
    a(href="/assets/images/8220 Emerald Isle Light/Interior pictures/IMG_2473.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 1")
      img(src="/assets/images/8220 Emerald Isle Light/Interior pictures/IMG_2473.jpg").thumbnail
    a(href="/assets/images/8220 Emerald Isle Light/Interior pictures/IMG_2474.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 1")
      img(src="/assets/images/8220 Emerald Isle Light/Interior pictures/IMG_2474.jpg").thumbnail
    a(href="/assets/images/8220 Emerald Isle Light/Interior pictures/IMG_2476.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 1")
      img(src="/assets/images/8220 Emerald Isle Light/Interior pictures/IMG_2476.jpg").thumbnail
    a(href="/assets/images/8220 Emerald Isle Light/Interior pictures/IMG_2486.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 1")
      img(src="/assets/images/8220 Emerald Isle Light/Interior pictures/IMG_2486.jpg").thumbnail
    a(href="/assets/images/8220 Emerald Isle Light/Interior pictures/IMG_2487.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 1")
      img(src="/assets/images/8220 Emerald Isle Light/Interior pictures/IMG_2487.jpg").thumbnail
    a(href="/assets/images/8220 Emerald Isle Light/Interior pictures/IMG_2488.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 1")
      img(src="/assets/images/8220 Emerald Isle Light/Interior pictures/IMG_2488.jpg").thumbnail    
    
      
  //-     
  //- .thumbnails
  //-   a(href="/assets/images/Staging Light 3/Staging Light 3 - 001.jpg" data-lightbox="Desert Shore 1" data-title="Desert Shore House: Kitchen")
  //-     img(src="/assets/images/Staging Light 3/Staging Light 3 - 001.jpg").thumbnail
  //-   a(href="/assets/images/Staging Light 3/Staging Light 3 - 002.jpg" data-lightbox="Desert Shore 1" data-title="Desert Shore House: Kitchen")
  //-     img(src="/assets/images/Staging Light 3/Staging Light 3 - 002.jpg").thumbnail
  //-   a(href="/assets/images/Staging Light 3/Staging Light 3 - 003.jpg" data-lightbox="Desert Shore 1" data-title="Desert Shore House: Living Room")
  //-     img(src="/assets/images/Staging Light 3/Staging Light 3 - 003.jpg").thumbnail
  //-   a(href="/assets/images/Staging Light 3/Staging Light 3 - 004.jpg" data-lightbox="Desert Shore 1" data-title="Desert Shore House: Bathroom 1")
  //-     img(src="/assets/images/Staging Light 3/Staging Light 3 - 004.jpg").thumbnail
  //-   a(href="/assets/images/Staging Light 3/Staging Light 3 - 005.jpg" data-lightbox="Desert Shore 1" data-title="Desert Shore House: Kitchen")
  //-     img(src="/assets/images/Staging Light 3/Staging Light 3 - 005.jpg").thumbnail
  //-   a(href="/assets/images/Staging Light 3/Staging Light 3 - 006.jpg" data-lightbox="Desert Shore 1" data-title="Desert Shore House: Bathroom 1")
  //-     img(src="/assets/images/Staging Light 3/Staging Light 3 - 006.jpg").thumbnail
  //-   a(href="/assets/images/Staging Light 3/Staging Light 3 - 007.jpg" data-lightbox="Desert Shore 1" data-title="Desert Shore House: Living Room")
  //-     img(src="/assets/images/Staging Light 3/Staging Light 3 - 007.jpg").thumbnail
  //-   a(href="/assets/images/Staging Light 3/Staging Light 3 - 008.jpg" data-lightbox="Desert Shore 1" data-title="Desert Shore House: Kitchen")
  //-     img(src="/assets/images/Staging Light 3/Staging Light 3 - 008.jpg").thumbnail
  //-   a(href="/assets/images/Staging Light 3/Staging Light 3 - 009.jpg" data-lightbox="Desert Shore 1" data-title="Desert Shore House: Bathroom 2")
  //-     img(src="/assets/images/Staging Light 3/Staging Light 3 - 009.jpg").thumbnail
  //-   a(href="/assets/images/Staging Light 3/Staging Light 3 - 010.jpg" data-lightbox="Desert Shore 1" data-title="Desert Shore House: Bathroom 1")
  //-     img(src="/assets/images/Staging Light 3/Staging Light 3 - 010.jpg").thumbnail
  //-   a(href="/assets/images/Staging Light 3/Staging Light 3 - 011.jpg" data-lightbox="Desert Shore 1" data-title="Desert Shore House: Bathroom 1")
  //-     img(src="/assets/images/Staging Light 3/Staging Light 3 - 011.jpg").thumbnail
