section.gallery-staging
  .thumbnails
    a(href="/assets/images/904 N 21 St/Interior pictures/DSC_2104.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 1")
      img(src="/assets/images/904 N 21 St/Interior pictures/DSC_2104.JPG").thumbnail
    a(href="/assets/images/904 N 21 St/Interior pictures/DSC_2137.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/904 N 21 St/Interior pictures/DSC_2137.JPG").thumbnail
    a(href="/assets/images/904 N 21 St/Interior pictures/DSC_2139.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Living Room 1")
      img(src="/assets/images/904 N 21 St/Interior pictures/DSC_2139.JPG").thumbnail
    a(href="/assets/images/904 N 21 St/Interior pictures/DSC_2140.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 2")
      img(src="/assets/images/904 N 21 St/Interior pictures/DSC_2140.JPG").thumbnail
    a(href="/assets/images/904 N 21 St/Interior pictures/DSC_2142.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 1")
      img(src="/assets/images/904 N 21 St/Interior pictures/DSC_2142.JPG").thumbnail
    a(href="/assets/images/904 N 21 St/Interior pictures/DSC_2144.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 1")
      img(src="/assets/images/904 N 21 St/Interior pictures/DSC_2144.JPG").thumbnail
    a(href="/assets/images/904 N 21 St/Interior pictures/DSC_2172.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 1")
      img(src="/assets/images/904 N 21 St/Interior pictures/DSC_2172.JPG").thumbnail
    a(href="/assets/images/904 N 21 St/Interior pictures/DSC_2174.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/904 N 21 St/Interior pictures/DSC_2174.JPG").thumbnail
    a(href="/assets/images/904 N 21 St/Interior pictures/DSC_2175.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Living Room 1")
      img(src="/assets/images/904 N 21 St/Interior pictures/DSC_2175.JPG").thumbnail
    a(href="/assets/images/904 N 21 St/Interior pictures/DSC_2177.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 2")
      img(src="/assets/images/904 N 21 St/Interior pictures/DSC_2177.JPG").thumbnail
    a(href="/assets/images/904 N 21 St/Interior pictures/DSC_2193.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 1")
      img(src="/assets/images/904 N 21 St/Interior pictures/DSC_2193.JPG").thumbnail
    a(href="/assets/images/904 N 21 St/Interior pictures/DSC_2194.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 1")
      img(src="/assets/images/904 N 21 St/Interior pictures/DSC_2194.JPG").thumbnail
    a(href="/assets/images/904 N 21 St/Interior pictures/DSC_2195.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 1")
      img(src="/assets/images/904 N 21 St/Interior pictures/DSC_2195.JPG").thumbnail
    a(href="/assets/images/904 N 21 St/Interior pictures/DSC_2196.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 1")
      img(src="/assets/images/904 N 21 St/Interior pictures/DSC_2196.JPG").thumbnail
    a(href="/assets/images/904 N 21 St/Interior pictures/DSC_2210.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 1")
      img(src="/assets/images/904 N 21 St/Interior pictures/DSC_2210.JPG").thumbnail
    a(href="/assets/images/904 N 21 St/Interior pictures/DSC_2211.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 1")
      img(src="/assets/images/904 N 21 St/Interior pictures/DSC_2211.JPG").thumbnail
    
    
      
  //-     
  //- .thumbnails
  //-   a(href="/assets/images/Staging Light 3/Staging Light 3 - 001.JPG" data-lightbox="Desert Shore 1" data-title="Desert Shore House: Kitchen")
  //-     img(src="/assets/images/Staging Light 3/Staging Light 3 - 001.JPG").thumbnail
  //-   a(href="/assets/images/Staging Light 3/Staging Light 3 - 002.JPG" data-lightbox="Desert Shore 1" data-title="Desert Shore House: Kitchen")
  //-     img(src="/assets/images/Staging Light 3/Staging Light 3 - 002.JPG").thumbnail
  //-   a(href="/assets/images/Staging Light 3/Staging Light 3 - 003.JPG" data-lightbox="Desert Shore 1" data-title="Desert Shore House: Living Room")
  //-     img(src="/assets/images/Staging Light 3/Staging Light 3 - 003.JPG").thumbnail
  //-   a(href="/assets/images/Staging Light 3/Staging Light 3 - 004.JPG" data-lightbox="Desert Shore 1" data-title="Desert Shore House: Bathroom 1")
  //-     img(src="/assets/images/Staging Light 3/Staging Light 3 - 004.JPG").thumbnail
  //-   a(href="/assets/images/Staging Light 3/Staging Light 3 - 005.JPG" data-lightbox="Desert Shore 1" data-title="Desert Shore House: Kitchen")
  //-     img(src="/assets/images/Staging Light 3/Staging Light 3 - 005.JPG").thumbnail
  //-   a(href="/assets/images/Staging Light 3/Staging Light 3 - 006.JPG" data-lightbox="Desert Shore 1" data-title="Desert Shore House: Bathroom 1")
  //-     img(src="/assets/images/Staging Light 3/Staging Light 3 - 006.JPG").thumbnail
  //-   a(href="/assets/images/Staging Light 3/Staging Light 3 - 007.JPG" data-lightbox="Desert Shore 1" data-title="Desert Shore House: Living Room")
  //-     img(src="/assets/images/Staging Light 3/Staging Light 3 - 007.JPG").thumbnail
  //-   a(href="/assets/images/Staging Light 3/Staging Light 3 - 008.JPG" data-lightbox="Desert Shore 1" data-title="Desert Shore House: Kitchen")
  //-     img(src="/assets/images/Staging Light 3/Staging Light 3 - 008.JPG").thumbnail
  //-   a(href="/assets/images/Staging Light 3/Staging Light 3 - 009.JPG" data-lightbox="Desert Shore 1" data-title="Desert Shore House: Bathroom 2")
  //-     img(src="/assets/images/Staging Light 3/Staging Light 3 - 009.JPG").thumbnail
  //-   a(href="/assets/images/Staging Light 3/Staging Light 3 - 010.JPG" data-lightbox="Desert Shore 1" data-title="Desert Shore House: Bathroom 1")
  //-     img(src="/assets/images/Staging Light 3/Staging Light 3 - 010.JPG").thumbnail
  //-   a(href="/assets/images/Staging Light 3/Staging Light 3 - 011.JPG" data-lightbox="Desert Shore 1" data-title="Desert Shore House: Bathroom 1")
  //-     img(src="/assets/images/Staging Light 3/Staging Light 3 - 011.JPG").thumbnail
