section.about#about
  .about-text
    h2.section-header-title EZ Home Staging Las Vegas
    p has a simple goal. We want to help you sell your home faster and for more money. Whether you need a single room staged or your entire home, we are here to help.
      strong  EZ Home Staging Las Vegas
      |  offers a tiered pricing model. If you choose to work with us on a 3 months contract, you won't be charged for the design, the delivery or the pick up. But you also can chose to extend from month to month, depending on your budget. We own all our furniture and accessories, so we can react and stage in a few days.
