section.agent
  .agent-company
    img(src="assets/images/frostproof_logo_company.jpg").agent-company-logo
    .agent-picture-info
      img(src="assets/images/doukhan.frederique.png").agent-picture
      .agent-info
        .regular-text
          p Frédérique Doukhan
          p 10750 W Charleston Blvd
          p Suite 180 Las Vegas, NV 89135
        .bold-text
          p Mobile: 702.426.2310
        .regular-text
          p Office: 702.898.1221
        .mailto-text
          a(href="mailto:doukhan.frederique@gmail.com") doukhan.frederique@gmail.com
    .staging-pitures
      a(href="gallery.html")
        img(src="assets/images/frostproof_before.jpg").staging-before
      a(href="gallery.html")
        img(src="assets/images/Frostproof/Main.JPG").staging-after

  //- .agent-company
  //-   img(src="http://resources.static-homes.com/AccountData/150264675/c21.jpg").agent-company-logo
  //-   .agent-picture-info
  //-     img(src="http://www.sudfrancedesign.com/maha.png").agent-picture
  //-     .agent-info
  //-       .regular-text
  //-         p Maha Madanat
  //-         p 4040 S. Eastern Avenue, Suite 10
  //-         p Las Vegas, NV 89119
  //-       .bold-text
  //-         p Mobile: 702.630.6459
  //-       .regular-text
  //-         p Office: 702.296.9999
  //-         p eFax: 1.888.786.6459
  //-       .mailto-text
  //-         a(href="mailto:bahnammaha@hotmail.com") bahnammaha@hotmail.com
  //-   .staging-pitures
  //-     img(src="http://www.sudfrancedesign.com/after.jpg").staging-before
  //-     img(src="http://www.sudfrancedesign.com/before.jpg").staging-after
