section.comparison
  .cta
    p Still not sold/rented? Check out these numbers based on standard industry pricing.
  .home-size
    .icon
    .number
      p 2,500 sq ft
  .comparison-container
    .standard-company-container
      .standard-company
        .title
          h2 Some Other Company
        .breakdown-container
          .line-items
            p Set-Up Fee
            p Staging and Design Fees
            p Delivery and Pick-Up
            p Furniture Rental (monthly)
            p Accessory Rental (monthly)
          .prices
            p N/A
            p $1695
            p $450
            p $3500 (x3 mo.)
            p $600 (x3 mo.)
        .total-container-1
          .total-price
            p.total Total (upfront)
            p.number $14,445
          .icon-thumbdown
      .other-desc
        p.desc If you went with another staging company, you'd be paying almost 3x the price we would charge you. Most importantly, the total would be charged UP FRONT.
    .ezhs-container
      .ezhs
        .title
          h2 EZ Home Staging Las Vegas
        .breakdown-container
          .line-items
            p Set-Up Fee
            p Staging and Design Fees
            p Delivery and Pick-Up
            p Furniture and Accessories
          .prices
            p $0
            p $0
            p $0
            p $1500/month
        .total-container-2
          .total-price
            p.total Total (upfront)
            p.number $4,500
          .icon-thumbup
      .ezhs-desc
        p.desc With
          i  EZ Home Staging Las Vegas
          | , you're paying 1/3 the price. You won’t be charged with the design, the delivery and the pick up. After 3 months, if your home is not sold, you can keep the furniture and accessories and pay monthly.

  //- .before-after-1
  //- .gallery
  //-   p Gallery Coming Soon ...
