section.contact#contact
  .contact-form
    .form-container
      form(action="https://formspree.io/sylvie@ezhomestaging.com" method="POST")
        .name
          h3 Name
          input(type="text" name="name" class="yourname")
        .email
          h3 E-Mail
          input(type="email" name="_replyto" class="youremail")
        .phone
          h3 Phone Number
          input(type="text" name="_phone" class="yourphone")
        .message
          h3 Message
          textarea(name="_message" class="yourmessage")
        .button
          input(type="submit" value="Send" class="submitbutton")

    .contact-phone
      h2 ...or call 702-301-2447
