section.contact-cta
  .headline
    h2 TRUST US TO HELP YOU SELL YOUR HOME
  .cta-text
    P Don’t wait to email us at
      i  EZ Home Staging Las Vegas
      | , we have a limited amount of furniture and accessory kits availalbe. Take the first step towards selling your home quickly for the price you want and email us today.
