section.footer
  .ezhs-footer
    .ezhs-logo
    a(href="https://www.facebook.com/ezhomestaging/?fref=ts" target="_blank").ezhs-facebook
      .icon
  .sfd-footer
    a(href="http://store.sudfrancedesign.com" target="_blank").sfd-logo
    a(href="https://www.facebook.com/sudfrancedesign/" target="_blank").sfd-facebook
      .icon
.copyright
  h2 Copyright &copy; 2017&nbsp;
    u EZ Home Staging
    | . All rights reserved.
