section.gallery-staging
  .thumbnails
    a(href="/assets/images/Frostproof/Gallery Picture/Bathroom2 aft.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 1")
      img(src="/assets/images/Frostproof/Gallery Picture/Bathroom2 aft.JPG").thumbnail
    a(href="/assets/images/Frostproof/Gallery Picture/Bedroom2.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 1")
      img(src="/assets/images/Frostproof/Gallery Picture/Bedroom2.JPG").thumbnail
    a(href="/assets/images/Frostproof/Gallery Picture/Dining from kitchen apr.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 1")
      img(src="/assets/images/Frostproof/Gallery Picture/Dining from kitchen apr.JPG").thumbnail
    a(href="/assets/images/Frostproof/Gallery Picture/Dining Room Apr.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 1")
      img(src="/assets/images/Frostproof/Gallery Picture/Dining Room Apr.JPG").thumbnail
    a(href="/assets/images/Frostproof/Gallery Picture/Entrance Apr.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 1")
      img(src="/assets/images/Frostproof/Gallery Picture/Entrance Apr.JPG").thumbnail
    a(href="/assets/images/Frostproof/Gallery Picture/Gym Room apr.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 1")
      img(src="/assets/images/Frostproof/Gallery Picture/Gym Room apr.JPG").thumbnail
    a(href="/assets/images/Frostproof/Gallery Picture/Kitchen Apr.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 1")
      img(src="/assets/images/Frostproof/Gallery Picture/Kitchen Apr.JPG").thumbnail
    a(href="/assets/images/Frostproof/Gallery Picture/Kitchen from living apr.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 1")
      img(src="/assets/images/Frostproof/Gallery Picture/Kitchen from living apr.JPG").thumbnail
    a(href="/assets/images/Frostproof/Gallery Picture/Living from kitchen apr.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 1")
      img(src="/assets/images/Frostproof/Gallery Picture/Living from kitchen apr.JPG").thumbnail
    a(href="/assets/images/Frostproof/Gallery Picture/Master apr2.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 1")
      img(src="/assets/images/Frostproof/Gallery Picture/Master apr2.JPG").thumbnail
    a(href="/assets/images/Frostproof/Gallery Picture/Master apr3.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 1")
      img(src="/assets/images/Frostproof/Gallery Picture/Master apr3.JPG").thumbnail
    a(href="/assets/images/Frostproof/Gallery Picture/Master apr4.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 1")
      img(src="/assets/images/Frostproof/Gallery Picture/Master apr4.JPG").thumbnail
    a(href="/assets/images/Frostproof/Gallery Picture/Master apr5.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 1")
      img(src="/assets/images/Frostproof/Gallery Picture/Master apr5.JPG").thumbnail
    a(href="/assets/images/Frostproof/Gallery Picture/Master apr6.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 1")
      img(src="/assets/images/Frostproof/Gallery Picture/Master apr6.JPG").thumbnail
    a(href="/assets/images/Frostproof/Gallery Picture/Master7.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 1")
      img(src="/assets/images/Frostproof/Gallery Picture/Master7.JPG").thumbnail
    a(href="/assets/images/Frostproof/Gallery Picture/Master10.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 1")
      img(src="/assets/images/Frostproof/Gallery Picture/Master10.JPG").thumbnail
