section.gallery#lol
  .staging-column
    .home-title Regular Home Staging
    .thumbnails
      a(href="/4848-Nara-Vista.html")
        img(src="/assets/images/4848 Nara Vista/Front Pictures/001-3-Exterior Front.jpg" data-caption="Rent in 3 weeks").thumbnail
      .staging-description
        p Surface: 858 sqft
        p Area: Las Vegas
        p Type: 2 bedrooms, 2 bathrooms
    .thumbnails
      a(href="/319-Wind-River-Dr.html")
        img(src="/assets/images/319 Wind River Dr/Front picture/front.jpg" data-caption="Under contract in 2 days").thumbnail
      .staging-description
        p Surface: 3044 sqft
        p Area: Henderson
        p Type: 6 bedrooms, 4 bathrooms
    .thumbnails
      a(href="/1930-Terra-Vista-Way.html")
        img(src="/assets/images/1930 Terra Vista Way/001-3-ExteriorFront.jpg" data-caption="Currently listed").thumbnail
      .staging-description
        p Surface: 3028 sqft
        p Area: Las Vegas
        p Type: 4 bedrooms, 3 bathrooms
    .thumbnails
      a(href="/31-Fantasia.html")
        img(src="/assets/images/31 Fantasia/002-3-Exterior Front.jpg" data-caption="Sold in 1 day !").thumbnail
      .staging-description
        p Surface: 1870 sqft
        p Area: Las Vegas
        p Type: 3 bedrooms, 2.5 bathrooms
    .thumbnails
      a(href="/904-N-21s-Las-Vegas.html")
        img(src="/assets/images/904 N 21 St/Front Picture/DSC_2157.JPG" data-caption="Sold in 2 months").thumbnail
      .staging-description
        p Surface: 2120 sqft
        p Area: Las Vegas
        p Type: 3 bedrooms, 2 bathrooms
    .thumbnails
      a(href="/frostproof-summerlin.html")
        img(src="/assets/images/Frostproof/Front Picture/DSC_1222.JPG" data-caption="Rent in 1 month").thumbnail
      .staging-description
        p Surface: 2339 sqft
        p Area: Henderson
        p Type: 3 bedrooms 3 bathrooms
    .thumbnails
      a(href="/11441-alberton-park-unit-409.html")
        img(src="/assets/images/11441 Allerton Park Unit 409/Front Picture/9 Front 2.JPG" data-caption="Sold in 4 months").thumbnail
      .staging-description
        p Surface: 2996 sqft
        p Area: Summerlin
        p Type: 2 bedrooms, 3 bathrooms
    .thumbnails
      a(href="/panini-henderson.html")
        img(src="assets/images/Panini Henderson/Front Picture/Panini Front.png" data-caption="Sold in 2 weeks").thumbnail
      .staging-description
        p Surface: 3847 sqft
        p Area: Henderson
        p Type: 4 bedrooms, 3 bathrooms

  .staging-column
    .home-title Light Home Staging
    .thumbnails
      a(href="/8220-Emerald-Isle.html")
        img(src="/assets/images/8220 Emerald Isle Light/Front Picture/IMG_2433.jpg" data-caption="Rent in 2 weeks").thumbnail
      .staging-description
        p Surface: 2782 sqft
        p Area: Las Vegas
        p Type: 5 bedrooms, 3 bathrooms
    .thumbnails
      a(href="/268-Single-Petal.html")
        img(src="/assets/images/268 Single Petal/Front picture/Fichier_000.png" data-caption="Rent in 3 weeks").thumbnail
      .staging-description
        p Surface: 2747 sqft
        p Area: Henderson
        p Type: 4 bedrooms, 3 bathrooms
    .thumbnails
      a(href="/1562-Ravanusa-Dr.html")
        img(src="/assets/images/1562 Ravanusa Dr/Front picture/Fichier_000.png" data-caption="Rent in 3 weeks").thumbnail
      .staging-description
        p Surface: 2855 sqft
        p Area: Henderson
        p Type: 4 bedrooms, 3 bathrooms
