section.header-gallery
  .header-wrap
    a(href="/index.html")
      .brand
    .top-nav
      ul.desktop-nav
        li: a(href="gallery.html") gallery
        li: a(href="/") home

    .hamburger
      .line-1
      .line-2
      .line-3

.mobile-nav
  ul
    li: a(href="gallery.html") gallery
    li: a(href="/") home
