.fixed-action-btn
  a.btn-floating.btn-large.deep-purple.lighten-1
    i.large.material-icons timer
  ul
    li
      .special-button
        a.btn-floating.white Order Now
      //- a(class="btn-floating red")
      //-   i(class="material-icons") insert_chart
      
section.header
  .header-wrap
    a(href="/")
      .brand
    .top-nav
      ul.desktop-nav
        li: a(href="#about") about
        li: a(href="#testimony-header") testimonial
        li: a(href="gallery.html") gallery
        li: a(href="promotion.html") promotion
        li: a(href="#contact") contact

    .hamburger
      .line-1
      .line-2
      .line-3

.mobile-nav
  ul
    li: a(href="#about") about
    li: a(href="#testimony-header") testimonial
    li: a(href="gallery.html") gallery
    li: a(href="promotion.html") promotion
    li: a(href="#contact") contact
