//this is the markup for the main "hero" image of the website, or slider, whatever it becomes
//- /* section.jumbotron
//-   .jumbotron-text
//-     .headline
//-       header
//-         h1 Most affordable&nbsp;home staging
//-     .jumbo-desc
//-       p Trust us to help you sell or rent your home
//-     a(href='#contact').jumbo-btn
//-       .btn-text
//-         p email us for a quote */
.jumbotron
  .siema
    img(src="/assets/images/HomeSlider/slider0.jpg" data-caption="Rent in 3 weeks")
    //- img(src="/assets/images/HomeSlider/slider2.jpg" data-caption="Rent in 3 weeks")
    img(src="/assets/images/HomeSlider/slider1.jpg" data-caption="Rent in 3 weeks")
    img(src="/assets/images/HomeSlider/slider2.jpg" data-caption="Rent in 3 weeks")
    //- img(src="/assets/images/HomeSlider/slider5.jpg" data-caption="Rent in 3 weeks")
    img(src="/assets/images/HomeSlider/slider3.jpg" data-caption="Rent in 3 weeks")
  button.prev
    i.material-icons.md-light.md-48 keyboard_arrow_left
  button.next
    i.material-icons.md-light.md-48 keyboard_arrow_right
