section.panels
  .panel-container

    .panel-1
      .icon-1-container
        .icon-1
      .title-1
        h2 Decorate it Better
      .desc-1
          p Allow us to decorate your home and make it look professional and personal. Give your home the make-over it deserves and show potential buyers how amazing their future home is!

    .panel-2
      .icon-2-container
        .icon-2
      .title-2
        h2 Make More Money
      .desc-1
          p Data supports claims that
            strong  home staging
            |  can increase the sale price of a home by at least 3%. It may not sound like much, but at a sale price of $200,000, that means you're making an extra $6,000.

    .panel-3
      .icon-3-container
        .icon-3
      .title-3
        h2 Sell it Faster
      .desc-1
          p Staged homes sell anywhere from 20-50% faster than un-staged homes. People want to buy and live in a home that looks and feels great, let us help you with that.
  .video#video
    iframe(src='https://www.youtube.com/embed/tuhBqEIJGCw', frameborder='0', allowfullscreen='allowfullscreen')
    p <center> Mid-century home staging for a fantastic house </center>
    br
    iframe(src='https://www.youtube.com/embed/5OBRapmWVAo', frameborder='0', allowfullscreen='allowfullscreen')
    p <center> Modern home staging for a new house </center>
    br
    iframe(src='https://www.youtube.com/embed/J5VyTKqLAlI', frameborder='0', allowfullscreen='allowfullscreen')
    p <center> Redesign and home staging to sell better your house </center>
    br
