section.gallery-staging
  .thumbnails
    a(href="/assets/images/Panini Henderson/Interior/IMG_0526-Edit.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Bathroom 1")
      img(src="/assets/images/Panini Henderson/Interior/IMG_0526-Edit.jpg").thumbnail
    a(href="/assets/images/Panini Henderson/Interior/IMG_0533-Edit.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/Panini Henderson/Interior/IMG_0533-Edit.jpg").thumbnail
    a(href="/assets/images/Panini Henderson/Interior/IMG_0538-Edit.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/Panini Henderson/Interior/IMG_0538-Edit.jpg").thumbnail
    a(href="/assets/images/Panini Henderson/Interior/IMG_0543-Edit.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/Panini Henderson/Interior/IMG_0543-Edit.jpg").thumbnail
    a(href="/assets/images/Panini Henderson/Interior/IMG_0553-Edit.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/Panini Henderson/Interior/IMG_0553-Edit.jpg").thumbnail
    a(href="/assets/images/Panini Henderson/Interior/IMG_0558-Edit.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/Panini Henderson/Interior/IMG_0558-Edit.jpg").thumbnail
    a(href="/assets/images/Panini Henderson/Interior/IMG_0564-Edit.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/Panini Henderson/Interior/IMG_0564-Edit.jpg").thumbnail
    a(href="/assets/images/Panini Henderson/Interior/IMG_0568-Edit.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/Panini Henderson/Interior/IMG_0568-Edit.jpg").thumbnail
    a(href="/assets/images/Panini Henderson/Interior/IMG_0573-Edit.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/Panini Henderson/Interior/IMG_0573-Edit.jpg").thumbnail
    a(href="/assets/images/Panini Henderson/Interior/IMG_0578-Edit.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/Panini Henderson/Interior/IMG_0578-Edit.jpg").thumbnail
    a(href="/assets/images/Panini Henderson/Interior/IMG_0582-Edit.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/Panini Henderson/Interior/IMG_0582-Edit.jpg").thumbnail
    a(href="/assets/images/Panini Henderson/Interior/IMG_0587-Edit.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/Panini Henderson/Interior/IMG_0587-Edit.jpg").thumbnail
    a(href="/assets/images/Panini Henderson/Interior/IMG_0590-Edit.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/Panini Henderson/Interior/IMG_0590-Edit.jpg").thumbnail
    a(href="/assets/images/Panini Henderson/Interior/IMG_0594-Edit.jpg" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/Panini Henderson/Interior/IMG_0594-Edit.jpg").thumbnail
    a(href="/assets/images/Panini Henderson/Interior/IMG_2154.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/Panini Henderson/Interior/IMG_2154.JPG").thumbnail
    a(href="/assets/images/Panini Henderson/Interior/IMG_2157.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/Panini Henderson/Interior/IMG_2157.JPG").thumbnail
    a(href="/assets/images/Panini Henderson/Interior/IMG_2170.JPG" data-lightbox="Henderson 2" data-title="Henderson House: Kitchen")
      img(src="/assets/images/Panini Henderson/Interior/IMG_2170.JPG").thumbnail
