.jumbotron
  .siema
    .container
      .bottom-center-text HELLO WORLD
      img(src="https://njnext.com/wp-content/uploads/4_kermit_rd-maplewood_1490989113_7.jpg" data-caption="Rent in 3 weeks")
  button.prev
    i.material-icons.md-light.md-48 keyboard_arrow_left
  button.next
    i.material-icons.md-light.md-48 keyboard_arrow_right
