section.testimony#testimony
  .witness
    //- img(src="/assets/images/Testimonies/Jim Ann Petty.png").witness-picture
    .witness-name
      p MARCO CHAIDEZ
    .witness-company
      p LOCAL GUIDE 
      p ★	★	★	★	★
      hr
    .witness-testimony
      p "I'm Very Impressed !! I found Sylvie on a google search and took a chance with her Design concepts for a Fix & Flip property that I needed Staged and I must say  Her work is absolutely Amazing !! Shes fair on prices and gets the job done
        <b> FAST!! </b> 
        | Her Services have helped us Sell More Homes for <b> Top Dollar</b> without a doubt ! I HIGHLY recommend using their services !"

  .witness
    //- img(src="/assets/images/Testimonies/Clement Muney.png").witness-picture
    .witness-name
      p HUFF GROUP
    .witness-company
      p PROFESSIONAL
      p ★	★	★	★	★
      hr
    .witness-testimony
      p "A big thanks to the whole <b>EZ Home Staging</b> team.  They are extremely professional, timely, and very creative in coming up with the very <b>best</b> home staging designs and ideas. 
        | They do an onsite consultation and walk through of the home to determine the best staging design that may fit your specific needs or project. In using their services we have had multiple over list price offers within the first 24 hours of listing our home with an agent on the MLS. 
        | We greatly appreciate the efforts of the whole EZ Home Staging team to make the home selling process easy and effortless.
        | A big thanks for paying attention to the details and being <b>affordable!</b>"

  .witness
    //- img(src="/assets/images/Testimonies/Lise Cohen.png").witness-picture
    .witness-name
      p GILLES SENSENBRENNER
    .witness-company
      p OWNER
      p ★	★	★	★	★
      hr
    .witness-testimony
      p "After having my home on the market last year for a few months and without any offers 
      | I had decided to lower the price starting January but a friend suggested to do a nice staging before discounting the property.  
      | After doing some research I came across <b>EZ Home Staging</b> which were very well priced compared to other companies 
      | I looked into so I signed up for a month of staging, they were <b>very easy</b> to deal with and made the experience smooth... 
      | All I can say is that they are very good at what they do, they made my place looked so much better and presentable after 
      | everything was set and done but the best part was I got 2 offers within 2 weeks so I took the cash offer and the deal was done... 
      | <b>Best money I ever spent...</b>"
